.container{
    margin: 0 5% 5% 0;
    padding: 0;
    right: 10%;
    top: 3%;
    position:absolute;
}

.quantity{
    position: absolute;
    width: 25px;
    height: 25px;
    background:#40C33D;
    border-radius: 50%;
    z-index: 1;
    margin-left: 17px;
    top: -12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: Open Sans;
    font-weight: bolder;
    color: #fff;
}

.cartcontainer{
    position: absolute;
    left: -10px;
    z-index: 0;
}