@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.buttoncontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
    width: 80%;
    height: 3em;
    border-radius: 3px;
    color: #2B2F36;
    border: 3px solid #54B0F3;
    padding: 0;
}

.button{
    font-family: "Open Sans" sans-serif;
    font-weight: bolder;
    width: 100%;
    text-align: center;
}